 body {
     margin: 0;
     padding: 0;
     background-color: #364371;
     font-family: Arial, Helvetica, sans-serif;
 }

 #wrap {
     margin: 1em 5%;
     margin-left: auto;
     margin-right: auto;
     width: 50em;
 }

 div#nav>h2 {
     text-align: center;
 }

 div#content>ul {
     margin: 0;
     padding: 0;
     list-style: none;
 }

 #nav {
     background-color: #b0cfff;
     float: left;
     width: 170px;
     height: 432px;
     margin-top: 0;
     margin-left: 1em;
     margin-right: auto;
     padding-top: 1em;
 }

 #content {
     text-align: center;
     background-color: #5b7fbd;
     width: 31em;
     height: 27em;
     padding-top: 1em;
     padding-left: 1.2em;
     padding-right: 0.8em;
     margin: 0 2em 0 180px;
 }

 #footer {
    margin-top: 1em;
    text-align: left;
    clear: both;
    background-color: #364371;
    padding: 5px 0px;
}

#footer p {
    margin: 0;
}
