html {
    background: #55ccff no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    margin: 0;
    padding: 0;
}

#wrap {
    width: 45em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

div#wrap>ul>li::first-letter {
    font-size: 1.5em;
}

div>h1 {
    text-align: left;
}

div>p:first-of-type {
    text-align: left;
}

div>p.copyright {
    text-align: left;
}

#wrap>ul {
    margin-left: auto;
    margin-right: auto;
}