body {
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
}

html {
    background: url(https://i.stack.imgur.com/l0JyZ.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* -webkit: safari -moz: mozilla -o:opera*/
}

#wrap {
    width: 54em;
    margin: 1em;
    margin-left: auto;
    margin-right: auto;
    border: 0.5em solid royalblue;
}

#main_header>h1 {
    padding: 0;
    margin: 0;
}

#main_header {
    padding: 0 1em;
    border-bottom: 0.5em solid royalblue;
}

#main {
    display: flex;
    flex: 1 1 auto;
    flex-flow: row wrap;
    justify-content: space-between;
    /* outline: 1em solid crimson;  */
    margin: 2em 44px;
    /* text-align: center; */
}

.box1 {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    flex-flow: column nowrap;
    flex: 1 1 auto;
    width: 60em;
    height: 4em;
    margin-bottom: 2em;
    padding: 1em;
    border: 0.5em solid black;
    background-color: #009e0f;
}

.image {
    background: url(../image/lasagna_edited.jpg);
    width: 15em;
    height: 15em;
    margin-bottom: 2em;
}

.image:hover,
.image:active {
    background: url(../image/pikachu.jpg) no-repeat center center fixed;
}

.box2 {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    flex-flow: row nowrap;
    flex: 1 1 auto;
    height: 10em;
    padding: 1em;
    border: 0.5em solid black;
    background-color: #8e7cc3;
}

#second,
#third {
    margin-right: 2em;
}

#second {
    background-color: #ff9900;
}

#third {
    background-color: #cf2a27;
}

#fourth {
    background-color: #6fa8dc;
}