.some_text {
    color: #BDBFEF;
    font-size: 12px;
    text-align: center;
    font-family: helvetica, sans-serif;
    letter-spacing: -1px;
    text-transform: lowercase;
    text-shadow: 0 2px 0 black;
    /* first value is horizontal/x offset */
    /* second value is vertical/y offset */
    /* third value is how much blur */
    /* fourth value is the color */
    /* you can even have multiple shadows separated by a comma! */
    line-height: 1.4;
    font-variant: small-caps;
}

.div {
    background-color: blue;
    border-radius: 20px;
}